@import './variables';

$font-family-light: Roboto-Light;
$font-family-regular: Roboto-Regular;
$font-family-semi-bold: Roboto-Semibold;
$font-family-bold: Roboto-Bold;

html,
body {
    font-family: $font-family-regular;

    h1,
    h2,
    h3 {
        font-family: $font-family-bold;
    }

    h4,
    h5,
    h6 {
        font-family: $font-family-regular;
    }

    h1 {
        font-size: 30pt;
    }

    h2 {
        font-size: 20pt;
    }

    h3 {
        font-size: 18pt;
    }

    p {
        font-size: 16px;
    }
}

ion-grid {
    width: 100%;
}

ion-row {
    height: $height100;
}

ion-col {
    border-radius: 5px;
    background: $white;

    .gray-text {
        color: gray;
    }
}

ion-toolbar {
    --background: #354e76;
    --border-color: #354e76;
    --min-height: 60px;
    --color: white;

    .desktop-title {
        display: none;
    }

    @media (min-width: 992px) {

        --background: #fff;
        --border-color: #fff;
        --min-height: 68px;
        --color: black;

        ion-title {
            display: none;
        }

        .desktop-title {
            color: black;
            float: right;
            display: inline-block;
            margin-right: 16px;
        }
    }
}

ion-input {
    --placeholder-color: $black !important;
    --placeholder-opacity: 0.5 !important;

    ion-label {
        color: $black !important;
    }
}

ion-button {
    font-family: $font-family-bold;
}

ion-progress-bar {
    height: 20px;
    border-radius: 10px;
    --background: #c5c5c5;
    --progress-background: #f1692b;

    .progress::after {
        content: "";
        top: 0;
        left: 5px;
        background: #ffffff;
        width: 5px;
        height: 100vh;
    }
}

ion-menu-button {
    --color: $black;
}

ion-back-button {
    --color: $white;
}

ion-note {
    font-size: 17px;
}

.hedera-warning-box {
    border-radius: 5px;
    background: $light-gray;

    ion-item {
        --background: $light-gray;
    }
}

.hedera-loading {
    --spinner-color: $orange;
    color: $black;

    .sub-text {
        font-size: 18px;
    }

    .loading-wrapper {
        border-radius: 0px;
        display: flex;
        flex-direction: column;
        width: 100%;
        height: 100%;
        --max-width: 100%;
        --max-height: 100%;
        background: rgba(255, 255, 255, 0.8);
        font-size: 22px;
        text-align: center;

        .loading-gif {
            margin: auto;
            max-width: 64px;
        }
    }
}


.create-dividends-modal {
    .modal-wrapper.sc-ion-modal-md {
        width: 400px;
        height: 330px;
    }
}

.hedera-toast {
    --background: linear-gradient(270deg, #EE702C 0%, #FD9104 100%);
    --button-color: $white;
    --color: $white;
    color: $white;
    font-weight: 700;
    text-align: center;
}


.hedera-checkbox {
    --border-color: #EE702C;
    --background-checked: linear-gradient(270deg, #EE702C 0%, #FD9104 100%);
    --border-color-checked: #EE702C;
    --size: 22px;
}

.hedera-button {
    text-transform: none;
    --background: linear-gradient(270deg, #EE702C 0%, #FD9104 100%);
    --background-hover: linear-gradient(270deg, #EE702C 0%, #FD9104 10%);
    --background-activated: linear-gradient(270deg, #EE702C 0%, #FD9104 10%);
    --border-radius: 5px;

    &.reverse-color {
        --background: $white;
        color: $orange;
        --box-shadow: 0px 0px 24px -5px rgba(0, 0, 0, 0.45);
    }

    &.green {
        --background: #43c181;
        --background-hover: #61d89b;
        --background-activated: #61d89b;
    }

    &.half-width-button {
        @media (min-width: 576px) {
            width: 30%;
            margin: auto;
        }
    }
}

.hedera-rectangle-button {
    background: $light-gray;
    padding: 30px;
    border-radius: 5px;

    &.disabled-div {
        background: $white;
        border: 2px dashed $light-gray;
        pointer-events: none;
    }
}

.hedera-card {
    background-color: $white;
    cursor: pointer;
    box-shadow: none;
    border-radius: 5px;
}

.hedera-gray-button {
    --background: none;
}

.hedera-headers {
    margin-top: 40px;
}

.hedera-center {
    margin-top: auto;
    margin-bottom: auto;
}

.hedera-item {
    --background: $gray;
}

.hedera-divider {
    height: 1px;
    background: $gray-darkest;

    &.divider-margin-top-bottom {
        margin-top: 20px;
        margin-bottom: 20px;
    }

    &.divider-margin-left-right {
        margin-left: 20px;
        margin-right: 20px;
    }
}

.validation-errors {
    color: red;
    margin-left: 5px;
    position: absolute;
    display: block;
    top: 100%;
    left: 0;
    font-size: 12px;
    margin-top: 0px;

    .error-showed {
        margin-top: 10px;

        @media (max-width: 400px) {
            margin-top: 25px;
        }
    }
}

.hedera-form-group {
    position: relative;
    margin-bottom: 25px;

    @media (max-width: 400px) {
        &.error-showed {
            margin-bottom: 40px;
        }

    }
}

.hedera-input-control {
    position: relative;
    margin-bottom: 10px;
    border: 1px solid #dfdfdf;
    border-radius: 5px;
}

.hedera-url {
    padding-left: 0px;
    padding-right: 0px;
    padding-bottom: 7px;
    margin: 0px 10px;
}

.hedera-url-selected {
    border-bottom: 2px solid $orange;
}

.hedera-uppercase {
    text-transform: uppercase;
}

.hedera-lowercase {
    text-transform: lowercase;
}

.hedera-underline {
    text-decoration: underline;
    ;
}

.content-container {
    width: 100%;
    max-width: 1800px;
    position: relative;
    margin: auto !important;

    @media (min-width: 240px) and (max-width: 1400px) {
        max-width: 1000px;
    }


    @media (min-width: 1400px) and (max-width: 1600px) {
        max-width: 1200px;
    }

    @media (min-width: 1600px) and (max-width: 1800px) {
        max-width: 1400px;
    }

    @media (min-width: 1800px) {
        max-width: 1600px;
    }
}

.datepicker-container-desktop {
    display: flex;
    justify-content: space-around;
    width: 100%;

    .datepicker-input {
        border: none;
        width: 100%;

        &:focus {
            outline: none;
        }
    }

    .mat-icon-button {
        width: auto;
        color: $orange;
    }

    ::ng-deep .mat-icon-button .mat-button-base,
    .mat-button-ripple .mat-ripple .mat-button-ripple-round,
    .mat-datepicker-toggle {
        &:focus {
            outline: none;
        }
    }
}

.hedera-checkbox-control {
    position: relative;
    margin-bottom: 10px;

    ion-checkbox {
        margin-right: 5px;
    }
}

.hedera-select {
    max-width: 100%;
}

.text-mouse-pointer {
    cursor: pointer;
}

.hedera-green-text {
    color: $green;
}

.hedera-gray-text {
    color: gray;
}

.hedera-orange-text {
    color: $orange;
}

.hedera-white-text {
    color: $white;
}

.hedera-regular {
    font-family: $font-family-regular;
}

.hedera-bold {
    font-family: $font-family-semi-bold;
}

.hedera-bolder {
    font-family: $font-family-bold;
}

.hedera-italic {
    font-style: italic;
}

.hedera-orange {
    color: $orange
}

.hedera-progress-bar {
    .progress-bar {
        margin: 0 auto;
        padding: 0;
        list-style: none;
        position: relative;
        display: flex;
        justify-content: space-between;
        top: -23px;
    }

    .progress-bar-step {
        text-align: right;
        position: relative;
        width: 100%;

        &.position-left {
            left: 10px
        }
    }

    .progress-bar-icon {
        width: 5px;
        height: 5px;
        background-color: $white;
        fill: $gray;
        border-radius: 50%;
        max-width: 100%;
        z-index: 10;
        position: relative;
        transition: all .25s ease-out;
    }

    .progressbar-info {
        display: flex;
        justify-content: space-between;
        margin-top: -25px;
    }
}

.hedera-gray-background {
    background: $light-gray;
}

.toolbar-login-button {
    min-width: 55px;
    font-family: $font-family-bold;
}

.toolbar-logo {
    width: 40px;
    height: auto;
    display: block;
    margin: auto;
}

.toolbar-logo-margin-right {
    margin-right: 35px;
}

.terms-and-conditions {
    font-size: 16px;
    margin-left: 10px;
    position: relative;
    bottom: 2px;
}

.toolbar-padding-left {
    padding-left: 10px;
}

.toolbar-padding-right {
    padding-right: 10px;
}

.back-arrow-button {
    min-width: 55px;
}

.hidden {
    visibility: hidden;
}

.main-menu-toolbar {
    --border-color: white;
    --background: white;

    .closable-button {
        ion-icon {
            font-size: 40px !important;
            color: $gray-darkest;
        }
    }
}

.wallet-infographic {
    --width: 300px;
}

.suitability-infographic {
    --width: 300px;
}

.documents-infographic {
    --width: 300px;
}

.bank-account-infographic {
    --width: 300px;
}

.admin-tab-bar {
    ion-label {
        font-size: 24px;
    }
}

.toolbar-logo-container {
    background: $light-gray;
}

.login-logo {
    width: 150px;
    height: auto;
    display: block;
    margin: auto;
}

.topbar-logo {
    width: 100px;
    height: auto;
    display: block;
    margin: auto;
    cursor: pointer;
}

.warning-icon {
    font-size: 30px;
    color: #c5c5c5;
}

.confirm-data-checkbox {
    @media (max-width: 575px) {
        text-align: left;
        padding-left: 2px;
    }

    @media (min-width: 576px) {
        text-align: center;
    }
}