<ion-header>
  <ion-toolbar>
    <ion-title>sign-out</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>

  <ion-grid class="ion-no-padding">
    <ion-row class="ion-no-padding ion-justify-content-center">
      <ion-col class="ion-no-padding ion-align-self-center" size-xs="12" size-sm="8" size-md="6" size-lg="6"
        size-xl="3">
        <div class="hedera-center">
          <div class="ion-padding">
            <ion-button class="hedera-button" size="large" expand="block" (click)="signOut()">
              Sign Out</ion-button>
          </div>
        </div>
      </ion-col>
    </ion-row>
  </ion-grid>

</ion-content>