.login{
    display: grid;
    text-align: center;
    padding-top: 5%;
}

.input {
    border:none;
    border-bottom: 1px solid #ff9c9c;
    padding: 5px 10px;
    outline: none;
    background: transparent;
 }

 .submit {
    cursor: pointer;
    background: none;
    width: 15%;
    border: 1px solid #ff9c9c;
    border-radius: 25px;
    color: #ff7575;
    -webkit-align-self: flex-end;
    -ms-flex-item-align: end;
    align-self: flex-end;
    font-size: 19px;
    font-size: 1.2rem;
    font-family: roboto;
    font-weight: 300;
    line-height: 2.5em;
    margin-top: auto;
    margin-bottom: 25px;
    -webkit-transition: all .2s ease;
    transition: all .2s ease;
 }