$greyed: #949494;

.main-event-info{
    padding: 2% 2% 0 2%;
    position: relative;
    
    strong, p{
        color: $greyed;
    }

    p{
        position: absolute;
        bottom: 0;
    }
    
    h1{
        margin: 2% 0;
    }
}

ion-col{
    padding-bottom: 0;
}

.book-btn{
    width: 100%;
    padding: 1%;
    border-bottom: 1px solid $greyed;
    border-top: 1px solid $greyed;
    margin-bottom: 4%;
    
    button{
        margin-left: auto;
        width: 33%;
        padding: 2%;
        font-size: 20pt;
        color: lightgrey;
        background-color: #179C55;
    }
}

@media screen and (max-width: 540px){
    .main-event-info{
        p{
            right: 2%;
        }
    }

    .book-btn{
        button{
            width: 100%;
        }
    }
}